.sidebarlink {
    display: flex;
    color: #e1e9fc00;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-family: var(--font-sidebar);
    list-style: none;
    height: 60px;
    font-size: 18px;
    text-decoration: none;
    /* &:hover {
      background: #252831;
      border-left: 4px solid #632ce4;
      cursor: pointer;
    } */
}


.sidebarlabel {
    margin-left: 16px;
    text-decoration: none;
}

.dropdownlink {
    background: #d3cdc400;
    height: 60px;
    padding-left: 3rem;
    display: flex;
    align-items: center;
    color: #f5f5f5;
    font-size: 18px;
    text-decoration: none;
    /* &:hover {
      background: #632ce4;
      cursor: pointer;
    } */
}
